<div class="container">
    <h3>PÓDCASTS</h3>
    <h2>Categorías</h2>
    <div class="categories">
        <div class="card">
            <div class="categories-info">
                <h2>Documentales</h2>
            </div>
            <a href=""><img src="../assets/historiasUnicas.jpg" alt="Unstoppable"></a>

        </div>
        <div class="card">
            <div class="categories-info">
                <h2>Comedia</h2>
            </div>
            <a href=""><img src="../assets/laCotorrisa.jpg" alt="mañanaSeraBonito"></a>

        </div>
        <div class="card">
            <div class="categories-info">
                <h2>Educación</h2>
            </div>
            <a href=""><img src="../assets/hablemosdePlata.jpg" alt="KG0516"></a>

        </div>
        <div class="card">
            <div class="categories-info">
                <h2>VideoJuegos</h2>
            </div>
            <a href=""><img src="../assets/GDMusic.jpg" alt="ocean"></a>

        </div>
    </div>
    <button class="ver-todas-btn">Ver todas las categorías</button>
</div>