<div class="myContainer">

  <h1>DISFRUTA DE LA MEJOR EXPERIENCIA MUSICAL</h1>

  <app-artist></app-artist>

  <div class="container-fluid" style="margin-top: 25px;">
    <h1>LOS MEJORES PÓDCAST EN VIVO</h1>
    <div class="row">

      <div class="col-sm-5 img-frame">
        <img src="../../../assets/imagen de prueba.JPG" alt="">
      </div>

      <div class="col-sm-6 text-frame">
        <p>Sumérgete en un mundo de conocimiento, entretenimiento
          y exploración con nuestra colección de podcasts en vivo.
          Desde debates apasionantes hasta entrevistas
          reveladoras, nuestra programación abarca una amplia
          gama de temas para satisfacer todos los intereses y
          curiosidades. Únete a nosotros en tiempo real mientras
          exploramos los rincones más fascinantes del arte, la
          ciencia, la cultura pop, la tecnología y mucho más. Nuestros
          programas cuentan con invitados especiales, expertos en
          sus campos, y te ofrecen la oportunidad de participar
          activamente, haciendo preguntas y compartiendo tus
          opiniones mientras las conversaciones se desarrollan.
        </p>
        <a href="/categories"><button class="btn btn-primary">Ver más</button></a>
      </div>
    </div>
  </div>
</div>