<body>
    <div class="container">
        <div class="title">
            <h1>SIENTE LA GRAN DIFERENCIA</h1>
            <h1>PASÁNDOTE A PREMIUM</h1>
        </div>

        <div class="contenedor">
            <div class="card border-info mb-3">
                <div class="card-header cards-headers">
                    <div style="font-family: 'Poppins';">PREMIUM</div>
                    <div>$7,99 al mes</div>
                </div>
                <div class="card-body">
                    <ul>
                        <li class="li-card">2 Cuentas Premium.</li>
                        <li class="li-card">Cancelas en cualquier momento.</li>
                        <li class="li-card">Sin anuncios.</li>
                    </ul>
                </div>
                <div class="btn-card">
                    <button style="font-family: 'Poppins';" type="button" class="btn btn-info" (click)="navegarPago()">ADQUIRIR PREMIUM</button>
                </div>
            </div>
        </div>

        <div>
            <h1 class="title" style="font-weight: bold; font-family: 'Poppins';">PLANES ACCESIBLES PARA TODOS</h1>
        </div>
        <div class="contenedor-det">
            <div>
                <h3 style="font-family: 'Poppins';">El plan premium incluye lo siguiente:</h3>
                <ul>
                    <li>Escucha tu música favorita sin anuncios.</li>
                    <li>Escucha canciones en cualquier orden.</li>
                    <li>Calidad de audio alta.</li>
                    <li>Escucha lo que quieras con tus amigos, en tiempo real.</li>
                </ul>
            </div>
        </div>
    </div>
</body>

