<footer class="bg-body-tertiary text-muted" style="margin-top: 50px;">
    <div class="container">
        <div class="row mt-3">
            <!-- Información de la empresa -->
            <div class="col-lg-4 col-md-6 mb-4">
                <h6 class="text-uppercase fw-bold">
                    <i class="fas fa-gem me-3 info"></i>MusicSound
                </h6>
                <p>
                    Aquí podrás encontrar lo mejor en música, con variedad de géneros. Además podrás encontrar pódcast en línea con temas interesantes.
                </p>
            </div>

            <!-- Servicios -->
            <div class="col-lg-4 col-md-6 mb-4 offset-lg-2 offset-md-3 text-center">
                <h6 class="text-uppercase fw-bold services">Servicios</h6>
                <p>
                    <a href="#!" class="text-reset">Planes</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">Música</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">Pódcast</a>
                </p>
            </div>

            <!-- Contacto -->
            <div class="col-lg-4 col-md-12 mb-4">
                <h6 class="text-uppercase fw-bold contacto">Contacto</h6>
                <p>
                    <a href="#!" class="text-reset">Puntarenas, Costa Rica</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">musicsoundcr@gmail.com</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">(+506) 2223-4543</a>
                </p>
            </div>
        </div>
    </div>
    </footer>

        <!-- Copyright -->
        <div class="frame-copy">
            <p>© 2024 Copyright: MusicSound</p>
        </div>
