h2 {
    color: white;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.controls {
    margin-bottom: 2%;
    margin-left: 2%;
}

.start {
    height: 100px;
    width: 100px;
    border-color: black;
    background: radial-gradient(circle, #1e1e1e 50%), linear-gradient(to right, #1e1e1e, #1e1e1e);
    background-size: 100% 100%, 2px 100%;
    background-position: center, 0 0;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.start:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.mydialog {
    width: 600px;
    height: 200px;
    justify-content: center;
    align-items: center;
}
