
  

<div class="container">
  <div class="card">
      <h3>Cambia tu contraseña</h3>
      <form #myForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="passwordNew">Nueva Contraseña</label>
              <input type="password"
              id="passwordNew" minlength="8" ngModel name="passwordNew" placeholder="Nueva contraseña" required #passwordNew="ngModel">
              <span *ngIf="!passwordNew.valid && passwordNew.touched">La contraseña debe contener al menos 8 caracteres</span>
          </div>
          <div class="form-group">
              <label for="passwordConfirm">Confirmar nueva contraseña</label>
              <input type="password" id="passwordConfirm" ngModel name="passwordConfirm" placeholder="Confirmar contraseña"
                  required #passwordConfirm="ngModel">
              <span *ngIf="passwordNew.value !== passwordConfirm.value && passwordConfirm.touched">La contraseña no coincide</span>
              <span>{{mess}}</span>

          </div>
          <button type="submit" [disabled]="!myForm.valid || passwordNew.value !== passwordConfirm.value" class="btn-login btn btn-primary">Cambiar Contraseña</button>
          <button *ngIf="redirect" [routerLink]="['/login']" class="btn-redirect btn btn-primary">Regresar</button>
      </form>
      
  </div>
</div>
